body {
  font-family: sans-serif;
  margin: 0;
}
.node circle {
  fill: #6baed6;
  stroke: #2171b5;
  stroke-width: 2px;
}
.node text {
  font: 12px sans-serif;
  user-select: none;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
